<div>
   <h1>new post</h1>
   <form>

   <div class="layout">
     <label>Title</label>
      <input type="text"/>
      <label>Content</label>
      <input type="textarea"/>
   </div>
   <button>Create Post</button>
   </form>
</div>