<div>
  <h1>Edit Post</h1>
  <form>
     <div class="layout">
     <label>Title</label>
      <input type="text" value={{post.title}}/>
      <label>Content</label>
      <input type="textarea" value={{post.content}}/>
   </div>
   <button>Edit Post</button>
   <button>Delete Post</button>
  </form>
</div>