<div class="layout">
  <h1>login</h1>
  <label></label>username<input type="text"/></label>
   <label></label>password<input type="text"/></label>
   <button>Login</button>
   <a href="/signup">Signup instead</a>

</div>